@font-face {
   font-family: "georgia-bolt";
   src: 
      url("../../fonts/georgia-bolt.woff") format("woff"),
      url("../../fonts/georgia-bolt.woff2") format("woff2");
   font-weight: bolt;
   font-style: normal;
}

@font-face {
   font-family: "helvatica-neue-bolt";
   src: 
      url("../../fonts/helvatica-neue-bolt.woff") format("woff"),
      url("../../fonts/helvatica-neue-bolt.woff2") format("woff2");
   font-weight: bolt;
   font-style: normal;
}

@font-face {
   font-family: "helvatica-neue-light";
   src: 
      url("../../fonts/helvatica-neue-light.woff") format("woff"),
      url("../../fonts/helvatica-neue-light.woff2") format("woff2");
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "fontawesome-webfont";
   src: 
      url("../../fonts/fontawesome-webfont.woff") format("woff"),
      url("../../fonts/fontawesome-webfont.woff2") format("woff2");
   font-weight: normal;
   font-style: normal;
}